.settings-h2 {
	font-size: 1.2rem !important;
}

.literature-note-input {
	width: 100%;
}

.modal-button-container {
	display: flex;
	justify-content: flex-end;
	gap: 10px;
	margin-top: 20px;
}

.suggestion-note-subtitle {
	font-size: 12px;
	color: var(--text-muted);
	margin-top: 2px;
}

.divider {
	opacity: 10%;
	margin: 1rem 0;
}

body.theme-dark .divider {
	background-color: #FFFFFF;
}

body.theme-light .divider {
	background-color: #1a1a1a;
}
